ipywidgets
notebook
ensure         # to check an argument passed is correct or not.
py-youtube

# dev requirements
pytest
tox
black    #formating_purposes
flake8   # linting(finding errors)
mypy     #type error
-e .     # check in setup.py and installs local packages.